.ddas {
  width: 98%;
  height: 40px;
  margin: 10px;
  background-color: brown;
  justify-content: space-around;
  border: solid 2px;
  margin-left: 20px;

}

/* .modalL {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
  max-width: 800px;
  margin: 40px auto
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0
} */

.show {
  display: block
}

.hide {
  display: none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.checkLibrery {
  width: 94%;
  height: 30px;
  margin: 10px;
  background-color: brown;
  text-align: center;
  color: white;
  padding: 4px 0 0 0;
}

.animeSlot {
  color: white;
  font-size: 33px;
  float: left;
  margin-left: 20px;
}

.placeAnime {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-right: solid 2px;
  border-left: solid 2px;
  border-color: white;
  margin: 10px 0;
}

.deleteAnime {
  font-size: 80px;
  border: none;
  cursor: pointer;
  color: white;
} 

.addToLibrery {
  color: #fff;
  background: red !important;
  border: none !important;
  font-size: 14px !important;
  padding: 5px 10px !important;
  margin: 0 20px 0 0 !important;
  text-transform: uppercase !important;
  float: right !important;
  border-radius: 4px !important;
}



.modal-ani {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-ani {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-ani {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-ani:hover,
.close-ani:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}