button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}
.form-div{
  display: none;
}
button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

#mainPopup {
  padding: 10px;
  height: 400px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}